@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Jost", sans-serif;
}

.accordion-button {
  background-color: #ffffff;
  color: #060708;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  border-radius: 5px;
}

.accordion-item {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.accordion-body {
  background-color: #f9f9f9;
  color: #333;
}

.bg-light {
  background-color: #f3f7fb;
}


.homercs-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
}

.text-section .title {
  font-weight: 700;
  margin-bottom: 20px;
}

.text-section .highlight {
  color: #17a2b8; /* Bootstrap's 'text-info' color */
}

.text-section .description {
  color: #6c757d; /* Bootstrap's 'text-muted' color */
  margin-bottom: 30px;
}

.features-list {
  list-style: none;
  padding: 0;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.feature-item .icon {
  color: #28a745; /* Bootstrap's 'text-success' color */
  margin-right: 10px;
}

.image {
  width: 100%;
}

